#name-and-slogan #site-slogan {
  font-family: 'Comic Sans MS',Cursive;
  background-color: #f000f0;
  border-top-style: groove;
  border-right-style: groove;
  border-bottom-style: groove;
  border-left-style: groove;
  border-top-color: #c21f1f;
  border-right-color: #c21f1f;
  border-bottom-color: #c21f1f;
  border-left-color: #c21f1f;
}

